<form class="emp-form" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">

    <div class="form-row">

  <div class="form-group col-md-6">
        <input type="hidden" name="EmployeeID" #EmployeeID="ngModel" [ngModel]="employeeService.selectedEmployee?.EmployeeID" (ngModelChange) ="employeeService.selectedEmployee.EmployeeID = $event">  

    <input class="form-control"  name="FirstName" #FirstName="ngModel" [ngModel]="employeeService.selectedEmployee?.FirstName" (ngModel) ="employeeService.selectedEmployee.FirstName = $event"
    placeholder="First Name" required>
    <!-- <h2>{{employeeService?.selectedEmployee?.FirstName}} details!</h2> -->
  <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This Field is Required.</div>
  </div>
  <div class="form-group col-md-6">
      <input class="form-control" required name="LastName" #LastName="ngModel" placeholder="Last Name" [ngModel]="employeeService.selectedEmployee?.LastName" (ngModel) ="employeeService.selectedEmployee.LastName = $event" >
      <div class="validation-error" *ngIf="LastName.invalid && LastName.touched ">This Feild is Required</div>
    </div>
</div>

<div class="form-group">
    <input class="form-control" name="Position" #Position="ngModel" placeholder="Position" [ngModel]="employeeService.selectedEmployee?.Position" (ngModel) ="employeeService.selectedEmployee.Position = $event">
</div>

<div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="EmpCode" #EmpCode="ngModel" placeholder="Employee Code" [ngModel]="employeeService.selectedEmployee?.EmpCode" (ngModel) ="employeeService.selectedEmployee.EmpCode = $event">
    </div>
    <div class="form-group col-md-6">
        <input class="form-control" name="Office" #Office="ngModel" placeholder="Office" [ngModel]="employeeService.selectedEmployee?.Office" (ngModel) ="employeeService.selectedEmployee.Office = $event">
    </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-8">
      <button [disabled]="!employeeForm.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fa fa-floppy-o"></i> Submit</button>
      </div>
      <div class="form-group col-md-4">
          <button type="button" (click)="resetForm(employeeForm)" class="btn btn-lg btn-block btn-secondary"><i class="fa fa-repeat"></i> Reset</button>    
      </div>
    </div>
    <!-- <pre>{{employeeForm.value | json}}</pre>  -->
</form>

<!-- [(ngModel)]="employeeService.selectedEmployee.FirstName" -->
<!-- [(ngModel)]="employeeService.selectedEmployee.LastName" -->
<!-- [(ngModel)]="employeeService.selectedEmployee.Position" -->
<!-- [(ngModel)]="employeeService.selectedEmployee.EmpCode" -->
<!-- [(ngModel)]="employeeService.selectedEmployee.Office" -->
<!-- [(ngModel)]="employeeService.FirstName" -->
<!-- [ngModel]="employeeService.selectedEmployee?.FirstName" (ngModelChange) ="employeeService.selectedEmployee.FirstName = $event" -->