<form class="emp-form" #ngForm="ngForm">
<div class="form-row">
  <div class="form-group col-md-6">
<input name="CustomerName" #CustomerName="ngModel" [(ngModel)]="employeeService.selectedEmployee.CustomerName">
  </div>
  <div class="form-group col-md-6">
    <input  name="CustomerAddress" #CustomerAddress="ngModel" [(ngModel)]="employeeService.selectedEmployee.CustomerAddress">
  </div>
  <div class="form-group col-md-6">
    <input  name="CustomerContact" #CustomerContact="ngModel" [(ngModel)]="employeeService.selectedEmployee.CustomerContact">
  </div>
</div>
</form>